@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


* {
  font-family: 'Montserrat', sans-serif;
}

/* Sleek Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4aa; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4aa; 
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4aa #fff;
}