@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


* {
  font-family: 'Montserrat', sans-serif;
}

/* Sleek Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 17, 22); 
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e2e78; 
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(173, 17, 22, 0.734) #f1f1f1;
}